<!-- <main class="content">
        
    <h1>hello world! </h1>
    -->
<!-- <div class="progress-wrapper" *ngIf="maxVal"> -->

<!-- <div class="text" *ngIf="!isFinished">
          {{ max - current | number: '1.1-1' }}
        </div>
        
        <div class="text" *ngIf="isFinished">
            ding!
            <audio src="assets/chime.mp3" autoplay></audio>
        </div> -->

<!-- <round-progress
                [max]="maxVal"
                [current]="currentVal"
                [radius]="100"
                [stroke]="25">
        </round-progress> -->

<!-- </div> -->

<!-- <div class="controls-wrapper">
            <div>
              <label>Seconds</label>
              <input class="input" placeholder="number of seconds" type="text" 
              [(ngModel)]="max"
              (keydown)="reset()">
            </div>
            
        <button class="button is-info" *ngIf="currentVal <= 0" (click)="start()">Start</button>
        <button class="button is-danger" *ngIf="!isFinished" (click)="finish()">Finish</button>
      
    </div> -->


<!-- </main> -->
<!-- <nz-root>
    <router-outlet></router-outlet>
</nz-root> -->

<!-- <nz-demo-button-basic></nz-demo-button-basic>
y
<app-nz-demo-menu-horizontal></app-nz-demo-menu-horizontal>
<app-nz-demo-drawer-from-drawer></app-nz-demo-drawer-from-drawer>
<app-nz-demo-steps-simple></app-nz-demo-steps-simple>
<app-nz-demo-list-loadmore></app-nz-demo-list-loadmore>
<app-nz-demo-layout-basic></app-nz-demo-layout-basic>
<app-nz-demo-layout-top-side></app-nz-demo-layout-top-side>
<app-nz-demo-layout-side></app-nz-demo-layout-side>
<app-nz-demo-card-meta></app-nz-demo-card-meta>
<app-nz-demo-upload></app-nz-demo-upload>
<app-nz-demo-divider></app-nz-demo-divider> -->
<header>
    <div class="_headerBj">
        <div class="_headerMain">
            <div class="_headerL">
                <h1>
                    <img src="assets/img/u190.png" alt="" class="_logo" />
                    <img src="assets/img/u191.png" alt="" class="_logoText" />
                </h1>
            </div>
            <nav class="_headerC">
                <ul class="_navList clr">
                    <li class="_navActive"><a href="../pages/index.html">首页</a></li>
                    <li class="_about"><a href="javascript:;">关于华夏盛世<i></i></a>
                        <div class="menuList1">
                            <div class="_aboutHXSS">
                                <h3>关于华夏盛世</h3>
                                <ul class="clr">
                                    <li><a href="../pages/aboutUs.html"><img src="assets/img/u39.png" alt="" /><span>关于公司</span></a></li>
                                    <li><img src="assets/img/u43.png" alt="" /><span>发展历程</span></li>
                                    <li><img src="assets/img/u35.png" alt="" /><span>组织架构</span></li>
                                    <li><img src="assets/img/u44.png" alt="" /><span>公司荣誉</span></li>
                                    <li><img src="assets/img/u41.png" alt="" /><span>CSR</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="../pages/townList.html">特色小镇</a></li>
                    <li class="_FQA"><a href="javascript:;">解决方案<i></i></a>
                        <div class="menuList2">
                            <div class="_solution">
                                <ul class="_solutionList">
                                    <li>
                                        <img src="assets/img/u168.png" alt="" />
                                        <p>健康产业小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/u167.png" alt="" />
                                        <p>军民融合小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/u169.png" alt="" />
                                        <p>文体旅产业小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/u170.png" alt="" />
                                        <p>智能制造小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/u171.png" alt="" />
                                        <p>数字文创小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                    <li>
                                        <img src="assets/img/u172.png" alt="" />
                                        <p>新能源汽车小镇</p>
                                        <span>培育计划</span>
                                    </li>
                                </ul>
                                <div class="baseLine"></div>
                            </div>
                        </div>
                        <span></span>
                    </li>
                </ul>
            </nav>
            <div class="_headerR">
                <div class="_contactUs">
                    <a href="javascript:;">法律声明</a>
                    <span>|</span>
                    <a href="javascript:;">联系我们</a>
                </div>
                <div class="_searchBox">
                    <input type="text" placeholder="站内搜索" />
                    <span class="_searchBtn"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
<!-- <app-nz-demo-carousel-basic></app-nz-demo-carousel-basic> -->
<app-carousel-basic></app-carousel-basic>

<div id="middleCon">
    <div class="middleLeft">
        <ul>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>
            <li>
                <app-nz-demo-card-meta></app-nz-demo-card-meta>

            </li>

        </ul>
    </div>
    <div class="middleRight">
        <p>特色小镇</p>
        <ul>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
            <li>
                <img src="assets/img/u14.JPEG" />
                <p>新津白鹤滩亲水运动休闲特色小镇</p>
                <div class="bg"></div>
            </li>
        </ul>
    </div>
</div>
<div id="bottomCon">
        <p>服务内容</p>
        <div>
            <ul>
                <li class="activity" index="1">
                    <img src="assets/img/u87.png"/>
                    <img src="assets/img/u73.png"/>
                    <p>全程介入</p>
                    <span></span>
                </li>
                <li index="2">
                    <img src="assets/img/u76.png"/>
                    <img src="assets/img/u90.png"/>
                    <p>高效专业</p>
                    <span class="displayNone"></span>
                </li>
                <li index="3">
                    <img src="assets/img/u78.png"/>
                    <img src="assets/img/u122.png"/>
                    <p>一体化要素导入</p>
                    <span class="displayNone"></span>
                </li>
                <li index="4">
                    <img src="assets/img/u80.png"/>
                    <img src="assets/img/u139.png"/>
                    <p>全方位资源对接</p>
                    <span class="displayNone"></span>
                </li>
            </ul>
            <ol>
                <li>
                    <img src="assets/img/u70.png" style="margin-top:40px"/>
                </li>
                <li>
                    <dl>
                        <dt>特色小镇现场调研诊断</dt>
                        <dd>对待建特色小镇周边及特色资源挖掘的市场调研，主要包括市场环境、政策环境、特色小镇的潜在客户及主要人口、特色资源、备选产业等相关的前期调研工作，为特色小镇规划的编制在要素整合、产业选择及定位等方面提供可靠依据。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇产业定位规划</dt>
                        <dd>涵盖市场环境、产业链分析、内部基础、发展定位、发展规划、配套措施等方面，明确特色小镇特色情况、产业基础、发展目标、运营管理等模块，为特色小镇发展提供重要借鉴。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇创建方案设计</dt>
                        <dd>涵盖创建理由，发展定位和目标，产业发展和小镇功能提升的基本思路及具体实施路径，重大项目计划，运作机制等方面，具体内容严格按照政策文件设计。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇概念性规划设计</dt>
                        <dd>涵盖区位分析图、市场分析图、现状分析图、功能分区图、概念性规划总平面图、道路交通系统规划图、重点项目示意图及相关文字和图表说明等，为特色小镇提供概念性规划指导。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇投融资顶层设计</dt>
                        <dd>涉及特色小镇的融资模式、资本参与、资本运作等内容，助力特色小镇全方位拓展融资渠道，创新资本运作，实现特色小镇产业和资本双轮驱动。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇PPP产业基金设计</dt>
                        <dd>在特色小镇具备PPP建设条件的情况下，帮助特色小镇创新设计产业基金，涵盖基金参与主体、基金运作机制、基金风控措施等，推动特色小镇PPP战略实施。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇申报辅导</dt>
                        <dd>涵盖特色小镇申报指导、申报条件、申报流程、申报材料准备、申报重点关注环节等方面，以专业的资源、一流的团队、优质的服务协助客户顺利完成特色小镇申报工作。</dd>
                    </dl>
                    <dl>
                        <dt>特色小镇招商运营</dt>
                        <dd>针对特色小镇特点，为特色小镇量身定制招商方案、运营方案，并在运作模式、管理机制等方面上突破创新，助力特色小镇的可持续发展，构建特色小镇运营新体系。</dd>
                    </dl>
                </li>
                <li>
                    <img src="assets/img/u128.png" style="margin-top:83px"/>
                </li>
                <li>
                    <img src="assets/img/u143.png" style="margin-top:119px"/>
                </li>
            </ol>
        </div>
    </div>
    <gallery [items]="images" thumbPosition="left"></gallery>
    <app-nz-demo-table-basic></app-nz-demo-table-basic>
</section>